#gcb-container {
	font-family: Verdana, arial, sans-serif;
	font-size: 12.8px;
	width: 580px;
}

#gcb-container .outline {
	margin: 5px 0;
    padding: 5px;
    background: url("http://www.github.com/images/modules/pagehead/tab_background.gif?v2") repeat-x scroll left bottom #ededed;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#gcb-container .username {
	border: 0;
	margin: 2px 0 5px;
	height: 16px;
	color: #ff0;
	font-weight: bold;
}

#gcb-container .diffline {
	font-weight: bold;
}

#gcb-container .commitmessage {
	margin: 5px 0;
	min-height: 16px;
	font-style: italic;
	color: #444;
}

#gcb-container .diffstat {
	font-weight: normal;
	font-size: 0.9em;
}

#gcb-container .badge {
	color: #4183c4;
	text-decoration: none;
}

#gcb-container .username a {
	color: #4183c4;
	text-decoration: none;
	font-size: 1.1em;
}

#gcb-container .action {
	background-color: #fff6a9;
}

#gcb-container .diffadded {
	color: #008000;
}
#gcb-container .diffremoved {
	color: #f00;
}
#gcb-container .diffchanged {
	color: #800080;
}

#gcb-container a {
	font-weight: bold;
}

#gcb-container .username a:hover,
#gcb-container .badge:hover {
	text-decoration: none;
}