#gcb-container {
	font-family: Verdana, arial, sans-serif;
	font-size: 12.8px;
	width: 580px;
}

#gcb-container .outline {
	border: 1px solid #808080;
	overflow: auto;
	margin: 8px;
	padding: 5px;
	padding-top: 0;
	background-color: #e5e5ff;
}

#gcb-container .username {
	border: 0;
	margin: 2px 0 0;
	height: 16px;
	padding-left: 18px;
	color: #ff0;
	font-weight: bold;
	background: url(img/public.png) no-repeat top left;
}

#gcb-container .diffline {
	font-weight: bold;
}

#gcb-container .commitmessage {
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 20px;
	min-height: 16px;
	background: url(img/commit.png) no-repeat top left;
}

#gcb-container .diffstat {
	font-weight: normal;
	font-size: 0.9em;
}

#gcb-container .badge {
	color: #3399ff;
	text-decoration: none;
}

#gcb-container .username a {
	color: #0080ff;
	text-decoration: none;
	font-size: 1.1em;
}

#gcb-container .text-date {
	background-color: #fff6a9;
}

#gcb-container .diffadded {
	color: #008000;
}
#gcb-container .diffremoved {
	color: #f00;
}
#gcb-container .diffchanged {
	color: #800080;
}

#gcb-container a {
	font-weight: bold;
}

#gcb-container .username a:hover,
#gcb-container .badge:hover {
	text-decoration: none;
}